.form-control.border-bottom {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid white;
}
::placeholder {
    color: #ffffff;
}
.employeeLink:hover{
    background-color: yellow;
}
.employeeLink{
    background-color:white;
    transition: background-color 0.5s ease-in-out;
}
.scrollIconClass{
    transition: display 0.5s ease-in-out;
}